*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}


html{
    font-family: Arial, Helvetica, sans-serif;
}

/* #main{

} */

#header{
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    
}

#nav , .subnav{
    list-style-type: none;
}

#nav>li{
    display: inline-block;
}

#nav li{
    position: relative;

}

#nav>li>a{
    color: white;
    text-transform: uppercase; /* chuyển thành chữ in hoa */
}

#nav li a{
    text-decoration: none;
    line-height: 46px;     
    padding: 0 24px;
    display: inline-block;
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover{
    color: #333;
    background-color: #ccc;
}

#nav .subnav{
    position: absolute;
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#header .search-btn{
    padding: 0 21px;
    float: right;
}

#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#nav{
    display: inline-block;
}

#slide{
    position: relative;
    background: url(../img/1.jpg) top center / cover no-repeat ;
    padding-top: 50%;
    z-index: -1;
}

#slide .text-content{
    position: absolute;
    bottom: 20%;
    color: #fff;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

#slide .text-header{
    font-weight: 900;
    font-size: 24px;
}

#slide .text-description{
    font-weight: 500;
    font-size: 15px;
    margin-top: 25px;
}


/* #content{

} */

#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    text-align: center;             /* căn chữ vào giữa */
    font-size: 30px;
    font-weight: 700;               /* độ dày của nét chữ */
    letter-spacing: 4px;            /* khoảnh cách giữa các chữ */    

}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;              /* chữ nghiêng */
    opacity: 0.8;                    /* độ trong suốt */

}

#content .about-text{
    margin-top: 25px;
    text-align: justify;            /* căn lề hai bên */
    line-height: 1.4;             /* khoảnh cách giữa các dòng */

}

#content .menbers-list{
    margin-top: 48px;
    text-align: center;

}

#content .menber-item{
    float: left;                    /* điều chỉnh trên một hàng */
    width: calc(100% /3);           /* calc: hàm để chia */

}

#content .menber-name{
    font-size: 15px;
}

#content .menber-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px ;
}

.tour-section{
    background-color: #000;
}

.tickets-list{
    margin-top: 40px;
    color: #757575;
    background-color: white;
    list-style: none;
}

.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;

}

.tickets-list .sold-out{
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin: -2px;
}   

.places-list{
    margin: 32px -8px 0;
    padding: 48px;
    
}   

.places-item{
    float: left;
    width: calc(100%/3);
    padding: 0 8px;
}

.places-img{
    width: 100%;
    display: block;
}

.places-img:hover{
    opacity: 0.6;
}
.places-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.places-heading{
    font-size: 15px;
    font-weight:600;

}

.places-time{
    margin: 15px 0;
    color: #757575;
}

.places-desc{
    line-height: 1.4;
}

.places-buy-btn{
    background-color: #000;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.places-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container {
    background: #fff;
    width: 800px;
    min-height: 200px;
    position: relative;
    max-width: calc(100%-32px);
}

.modal-header {
    background: #009688;
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;

}

.modal-close{
    position:absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    opacity: 0.7;
}

.modal-close:hover{
    opacity: 1;
}

.modal-body{
    padding : 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;

}

#but-tickets{
    background-color: #009688;
    width: 100%;
    margin-top: 20px;
    padding: 18px;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

#but-tickets:hover{
    opacity: 0.8;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #009688;
}